*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
}

body{
  height: 100vh;
  background-color: hsl(47, 88%, 63%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.Container{
  background-color: black;
  width: 25%;
  border-radius: 15px;
  position: absolute;
  
}

.content-container{  
  background: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 15px;
  position: relative;
  bottom: 15px;
  right: 15px; 
  border: 2px solid black;
}

 .img1{
  border-radius: 10px;
}

.learning-section{  
  margin-top: 20px;
  
}

.learning-section h2{
  background: hsl(47, 88%, 63%);
  width: 35%;
  border-radius: 5px;
  text-align: center;
}
.published{
  font-weight: bold;
}

.learning-section h1{   
  font-size: 25px;
}
.learning-section h1:hover{
   color: hsl(47, 88%, 63%);
  
}

.p2{
  color:  hsl(0, 0%, 50%);
}
.span-area{
  display: flex;
  
}
span{
  font-weight: bold;
  margin-top: 25px;
  margin-left: 10px;
  
}

@media screen and (max-width: 1328px) {
 
   .Container{
  width: 30%;
  
 } 
}
@media screen and (max-width: 832px) {
 
   .Container{
  width: 50%;
  
 } 
}

@media screen and (max-width: 320px) {
  body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
 
  .Container{
  width: 90%;
  position: absolute;
   
 }

 .content-container{
  position: relative;
  right: 10px;
 }

 .learning-section h2{  
  width: 50%;
}
.learning-section h1{   
  font-size: 18px;
}
}